<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Create user </title>
    <style>
        /* Some simple styling to our page */
        .invalid-feedback {
            margin-top: 25px;
            color: red;
        }
        .container {
            text-align: center;
            margin-top: 5%;
        }
        label {
            padding-right: 5px;
        }
        .flash-notice {
            color: green;
            margin-bottom: 10px;
        }
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 50%;
            margin: 0 auto;
            margin-top: 5%;
        }
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
    <div class="container">
        <!-- Display sucess messages is theres any -->
        {% for message in app.flashes('sucess') %}
            <div class="flash-notice">
                {{ message }}
            </div>
        {% endfor %}

        <!-- Because this form is so simple we can use this helper function which renders the complete form -->
        {{ form(form) }}

        <!-- Display table with existing users -->
        <table>
            <tr>
                <th>User ID</th>
                <th>User name</th>
            </tr>
            {% for user in users %}
                <tr>
                    <td> {{ user.id }} </td>
                    <td> {{ user.name }} </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>